section {
    min-height: 100vh;
}

#accueil {
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }
    & video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

#presentation {
    margin-top: -3px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    & div:nth-child(1) img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        border-radius: 0 0 2rem;
    }
    & div:nth-child(2) {
        padding-top: 80px;
        margin-left: 70px;
        margin-right: 70px;

        & h2 {
            font-size: 25px;
            font-weight: 250;
        }
        & h1 {
            padding-top: 25px;
            font-size: 35px;
            font-weight: 600;
            padding-bottom: 100px;
        }
        & div:nth-child(3) {
            display: flex;

            & h3 {
                margin-left: 30px;
                font-size: 20px;
                margin-top: 8px;
            }
            & svg {
                font-size: 1.3rem;
                padding: 8px;
                background-color: rgba(211, 211, 211, 0.65);
                border-radius: 2rem;
            }
        }
        & div:nth-child(4) p {
            line-height: 150%;
            color: var(--second-color);
        }
        & div:nth-child(5) {
            & svg {
                font-size: 50px;
                color: var(--second-color);
                cursor: pointer;
            }
        }
    }
}

#features {
    & div:nth-child(1) {
        text-align: center;
        padding-top: 130px;

        & h2 {
            font-size: 25px;
            font-weight: 250;
        }
        & h1 {
            font-size: 40px;
            font-weight: 600;
            padding-top: 30px;

            & span {
                display: inline-block;
                background: url(../assets/images/features/brush.avif);
                background-size: 130%;
                background-repeat: no-repeat;
                background-position: center center;
                color: var(--text-color);
            }
        }
    }
    & div:nth-child(2) {

    }
}

#buy {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & div:nth-child(1) img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        border-radius: 0 2rem 2rem 0;
    }
    & div:nth-child(2) {
        margin-right: 30px;

        & h1 {
            margin-left: 70px;
            padding-top: 80px;
            font-size: 35px;
            font-weight: 600;
            padding-bottom: 50px;
        }
        & div:nth-child(2) p {
            line-height: 150%;
            margin-left: 70px;
            color: var(--second-color);
        }
        & div:nth-child(3) {
            & svg {
                font-size: 50px;
                color: var(--second-color);
                cursor: pointer;
                
                &:nth-child(1) {
                    margin-left: 70px;
                }
            }
        }
    }
}

.newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & div:nth-child(1) {
        & h1 {
            padding-top: 70px;
            margin-left: 200px;
            font-size: 35px;
            font-weight: 600;
        }
        & p {
            padding-top: 20px;
            margin-left: 200px;
            margin-right: 200px;
            line-height: 150%;
            color: var(--second-color);
        }
    }
    & div:nth-child(2) {
        & div:nth-child(1) {
            margin-left: 100px;
            padding-top: 70px;
            margin-right: 80px;
            border-bottom: solid 1px var(--second-color);
        }
        & div:nth-child(2) {
            margin-left: 100px;
            padding-top: 20px;
            margin-right: 80px;
            border-bottom: solid 1px var(--second-color);
        }
        & div:nth-child(3) {
            display: flex;
            padding-top: 20px;
            margin-left: 100px;

            & input {
                margin-right: 15px;
            }
            & label {
                margin-top: 3px;
                margin-right: 90px;
                color: black;
                font-size: 13px;
                font-weight: 400;
            }
        }
        & div:nth-child(4) {
            padding-top: 20px;

            & button {
                margin-left: 100px;
                border: 1px solid var(--second-color);
                background-color: white;
                border-radius: 3rem;
                cursor: pointer;
                font-size: 16px;
                font-weight: 450;
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                transition: transform 0.3s ease-in-out;
            
                &:hover {
                    transform: scale(1.03);
                }
            }
        }
        & label {
            font-size: 12px;
            font-weight: 300;
            color: var(--second-color);
        }
        & input {
            border: none;
            padding-bottom: 8px;
        }
    }
}