.footer {
    padding-top: 50px;

    & .separator {
        transform: rotate(180deg);
    }
}

.footer .footer-content {
    background-color: #0d0f17;
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;

    & div {
        margin-left: 50px;

        & p {
            color: var(--text-color);
            padding-top: 50px;
            line-height: 125%;
        }
        & ul li {
            list-style: none;
            cursor: pointer;
            padding-top: 15px;

            & a {
                color: var(--text-color);
            }
        }
    }
}