nav {
    background-color: black;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--second-color);
    user-select: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav .nav-logo {
    margin-left: 2.5rem;
}

nav .nav-first_links {
    margin-right: auto;
}

nav .nav-first_links ul {
    display: flex;
    list-style: none;
    margin-right: 1rem;
}

nav .nav-first_links ul li:nth-child(1) {
    margin-left: 6rem;
}

nav .nav-first_links ul li {
    margin-right: 2.8rem;
    font-size: 0.96rem;
    cursor: pointer;
}

nav .nav-button {
    margin-right: 4rem;
}

nav .nav-button button {
    border: 1px solid var(--second-color);
    border-radius: 3rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 450;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.03);
    }
}

nav .nav-second_links ul li {
    margin-right: 1.3rem;
}

nav .nav-second_links ul li a svg{
    font-size: 2rem;
}

nav .nav-button .button-modal {
    background-color: red;
}

.button-modal .modal-header .header-icons button {
    position: absolute;
    cursor: pointer;
    background: transparent;
    border: none;
    line-height: 20px;

    &:nth-child(1) {
        right: -3px;
        font-size: 2rem;
        
        & svg {
            color: black;
        }
    }

    &:nth-child(2) {
        font-size: 1.5rem;

        & svg {
            color: var(--valid-color);
        }
    }
}

.button-modal .modal-header .header-title p {
    color: var(--valid-color);
    text-align: center;
    font-size: 1.2rem;
}

.button-modal .modal-content {
    border-bottom: 1px solid var(--second-color);
    padding-top: 1.5rem;

    & img {
        width: 10rem;
    }

    & div:nth-child(1) {
        & button {
            background: transparent;
            border: none;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }
    }

    & div:nth-child(3) {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        text-align: center;

        & button {
            background-color: var(--text-color);
            color: black;
            border: 1px solid var(--second-color);
            border-radius: 3rem;
            cursor: pointer;
            font-size: 16px;
            font-weight: 450;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            padding-right: 4rem;
            padding-left: 4rem;
            transition: transform 0.3s ease-in-out;
    
            &:hover {
                transform: scale(1.03);
            }
        }
    }
}

.button-modal .modal-actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;

    & ul li {
        list-style: none;
    }

    & button:nth-child(1) {
        background-color: black;
        color: var(--text-color);
        border: 1px solid var(--second-color);
        border-radius: 3rem;
        cursor: pointer;
        font-size: 16px;
        font-weight: 450;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        padding-right: 4rem;
        padding-left: 4rem;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.03);
        }
    }

    & button:nth-child(2) {
        background: transparent;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }
    }
}

@media screen and (max-width: 1000px) {
    nav {
        border: solid red;
    }
}